<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>View / Edit Post</h2>
</div>

<form class="delete-form" action="/delete-post/<%= data.id %>?_method=DELETE" method="POST">
  <span class="btn-delete btn">Delete</span>
</form>

<form action="/edit-post/<%= data.id %>?_method=PUT" method="POST">

  <label for="title"><b>Title</b></label>
  <input id="title" type="text" name="title" value="<%= data.title %>" placeholder="Post Title" />

  <label for="tags"><b>Tags</b></label>
  <input id="tags" type="text" name="tags" value="<%= data.tags.join(', ') %>" />

  <label for="hero-image"><b>Hero Image Link</b></label>
  <input id="hero-image" type="text" name="image" value="<%= data.image %>" placeholder="Paste link here..." />

  <label for="body"><b>Content</b></label>
  <textarea name="body" id="body" cols="50" rows="10"><%= data.body %></textarea>

  <input type="submit" value="Update" class="btn" />
</form>

<% if (editP) { %>
  <script>
    Swal.fire({
      title: 'Succes',
      text: 'sucees edit post',
      icon: 'success',
    })
  </script>
  <% } %>

    <script>
      const BtnDelete = document.querySelector('.btn-delete');

      BtnDelete.addEventListener('click', async (e) => {
        e.preventDefault();

        Swal.fire({
          title: "Are you sure?",
          text: "You will not be able to recover this post!",
          showCancelButton: true,
          confirmButtonColor: '#DD6B55',
          confirmButtonText: 'Yes',
          cancelButtonText: "No",
        }).then((result) => {
          if (result['isConfirmed']) {
            e.target.parentElement.submit()
          }
        })
      })
    </script>