<h1 class="heading1">Welcome to our blog!</h1>

<img src="./img/hero-img.jpg" class="hero-image" />

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">

    <% data.forEach(post=> { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span>
            <%= post.title %>
          </span>
          <span class="article-list__date">
            <%= post.updatedAt.toDateString() %>
          </span>
        </a>
      </li>
      <% }) %>

  </ul>

  <section class="pagination-wrapper">

    <div class="<%= prevPage === null ? 'hidden' : '' %>">
      <a href="/?page=<%= prevPage %>" class="pagination">&lt; View Older Posts</a>
    </div>



    <div class="<%= nextPage === null ? 'hidden' : '' %>">
      <a href="/?page=<%= nextPage %>" class="pagination">View Recent Posts &gt;</a>
    </div>

  </section>
</section>

<% if (logout) { %>
  <script>
    Swal.fire({
      title: 'Succes Logout',
      text: 'Bye bye...',
      icon: 'success',
    })
  </script>
  <% } %>